/* Define CSS variables for better maintainability and consistency */
:root {
  --primary-bg-color: #f4f4f4;
  --secondary-bg-color: #f8f8f8;
  --text-color: #424242;
  --heading-color: #2b2b2b;
  --accent-color: #0056b3; /* A color for interactive elements */
  --font-family-primary: 'Open Sans', sans-serif;
  --font-family-heading: 'Merriweather', serif;
  --border-radius: 8px;
  --box-shadow-light: 0 4px 8px rgba(0, 0, 0, 0.1);
  --box-shadow-heavy: 0 8px 16px rgba(0, 0, 0, 0.15);
  --transition-speed: 0.3s;
}

/* Base styles */
body {
  font-family: var(--font-family-primary);
  line-height: 1.6;
  color: var(--text-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: color var(--transition-speed);
}

a:hover, a:focus {
  color: darken(var(--accent-color), 10%);
}

/* Dashboard container */
.dashboard-container {
  max-width: 700px; /* Adjust based on preference */
  margin: 20px auto;
  padding: 20px;
  background-color: var(--primary-bg-color);
  box-shadow: var(--box-shadow-light);
  border-radius: var(--border-radius);
  overflow: hidden; /* Ensures no child element leaks out */
}

.dashboard-container h2 {
  color: var(--heading-color);
  font-family: var(--font-family-heading);
  font-size: 2em;
  text-align: center;
  margin-bottom: 30px;
}

/* Dashboard info sections */
.dashboard-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-basis: 48%;
  background-color: var(--secondary-bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-light);
  padding: 20px;
  margin-bottom: 20px;
  transition: transform var(--transition-speed), box-shadow var(--transition-speed);
}

.analyze-button {
  align-self: center; /* Aligns the button vertically */
  margin-left: auto;
  margin-right: auto; /* Both margins to auto will center the button horizontally */
}

.createsl-button {
  align-self: center; /* Aligns the button vertically */
  margin-left: auto;
  margin-right: auto; /* Both margins to auto will center the button horizontally */
}



.dashboard-info:hover {
  transform: translateY(-5px);
  box-shadow: var(--box-shadow-heavy);
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
  }

  .dashboard-info {
    flex-basis: auto; /* Allows sections to take the full width on small screens */
    margin-bottom: 30px;
  }
}

/* Typography and spacing for content */
.dashboard-info p {
  margin-bottom: 15px;
}

.dashboard-info p:last-child {
  margin-bottom: 0;
}

.popup-overlay {
  position: fixed; /* Fixed position to cover the whole screen */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  align-items: center; /* Center the popup vertically */
  justify-content: center; /* Center the popup horizontally */
  z-index: 1000; /* Ensure it's on top of other content */
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1001; /* Ensure the content is above the overlay background */
  min-height: 400px; /* Adjust this value as needed */
  /* Add max-height if you want to control the maximum height */
  /* max-height: 600px; */
  overflow-y: auto; /* Add a scrollbar if content is too long */
}

/* Optional: Add styles for buttons, form elements, etc., as needed */
